.login-signup{
    padding: 2rem;
    margin: 2rem auto;
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;
    >div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    >button{
        

    }
}
.a-link{
    margin-left: 0.5rem;
    text-decoration: underline;
    color: blue;
    &:hover{
        color: purple;
    }
}

