.edit-form {
    padding: 2rem;
    margin: 2rem auto;
    width: 20rem;
    height: 20rem;
    gap: 1rem;
    border-radius: 0.5rem;

    >div:not(:last-of-type) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >input {
            border: 2px solid rgb(196, 196, 196);
            border-radius: 0.5rem;
            padding: 0.5rem;
        }
    }

    >div:last-of-type {
        display: flex;
        justify-content: space-around;

        >button {
            width: 5rem;
        }
    }
}