/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: start;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* input */
.input {
    border: 2px solid rgb(196, 196, 196);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* shadow */
.shadow {
    box-shadow: 1px 1px 4px 4px rgb(199, 199, 199);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}